.full-background {
    background-image: url('../Assets/login&signup_Img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container {
    display: flex;
    width: 100%;
    max-width: 500px;
    height: 600px;
    margin-left: 40px;
    margin-right: 40px;
    box-sizing: border-box;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}
form h1{
    color: white;
    width: 400px;
}
.input-fields { 
    padding: 10px 0px;
    box-sizing: border-box;
}
.input-type{
    height: 40px;
    width: 100%;
    background-color: transparent;
    color: white;
    border-radius: 13px;
    border: 1px solid white;
    padding-left: 10px;
    box-sizing: border-box;
}
::placeholder{
    color: white;
}
.row-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
    box-sizing: border-box;
}
.remember{
    color: white;
}
.forgot {
    padding-right: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
}
.btn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    padding-right: 10px;
}
.btn1 {
    height: 45px;
    color: white;
    background: black;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
.btn2 {
    height: 45px;
    color: black;
    background: rgb(199, 197, 197);
    border-radius: 25px;
    border: 1px solid black;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}







.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text {
    display: flex;
    align-items: center;
    gap: 10px; 
}
.header1 {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    text-align: left;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    padding-right: 10px;
}
.input-field {
    height: 40px;
    width: 100%;
    padding: 0 15px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 7px;
    font-size: 14px;
    box-sizing: border-box;
}

.remember input {
    margin-right: 10px;
}


.btn-with {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    padding-right: 10px;
}
.icon1{
    font-size: 23px;
    align-items: center;
}
.icon2{
    font-size: 20px;
    align-items: center;
}
.btn3 {
    height: 45px;
    color: black;
    background: rgb(216, 215, 215);
    border-radius: 25px;
    border: 1px solid black;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.btn4 {
    height: 45px;
    color: black;
    background: rgb(216, 215, 215);
    border-radius: 25px;
    border: 1px solid black;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}
.btm-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    font-size: 12px;
}
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    margin: 20px 0;
    padding: 10px;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid rgb(177, 171, 171);
}
.divider::before {
    margin-right: 15px;
}
.divider::after {
    margin-left: 15px;
}


/* OTP */
.phone-text {
    color: white;
}
.opt-row{
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0px;
    justify-content: center;
}
.otp-field{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: white;
    font-size: 18px;
}
.timer {
    font-size: 18px;
    color: white;
    text-shadow: 0px 1px 10px black;
}
.otp-div{
    margin-top: 5px;
    font-size: 15px;
    color: white;
    font-weight: 500;
    justify-content: right;
    display: flex;
    box-sizing: border-box;
}
.reset-otp-text{
    margin-top: 10px;
    margin-right: 20px;
    font-size: 15px;
    color: white;
    font-weight: 500;
    justify-content: right;
    display: flex;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    text-shadow: 0px 1px 5px black;
    cursor: pointer;
}
